@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JimCasual';
  src: url('../fonts/JimCasual-03.woff2') format('woff2'),
       url('../fonts/JimCasual-03.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  background-color: #000;
  min-width: fit-content;
}

body {
  min-height: 100dvh;
  min-width: fit-content;
  background-image: url('/images/board-100.gif');
  background-repeat: repeat;
  background-size: 1500px;
  border-radius: 3rem;
}

.material-symbols-sharp {
  font-variation-settings:
    'FILL' 0,
    'wght' 800,
    'GRAD' 0,
    'opsz' 20;
}