@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JimCasual';
  src: url('../fonts/JimCasual-02.woff2') format('woff2'),
       url('../fonts/JimCasual-02.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}